## Variables

- variables are used to store the values

- and values can change

In [1]:
number=100 # value 100 stored in a variable name called 'number'
number

100

In [2]:
number=200
number

200

**Note**

- python is step by step process

- python will take last output as the latest value

- in above code we are using same variable:number

- but number value changed twice

- first time 100

- second time 200

- latest value 200

In [3]:
NUMBER=200
NUMBER

200

In [4]:
number , NUMBER

(200, 200)

In [5]:
NUmber=300
NUmber

300

In [6]:
number123=200
number123

200

In [7]:
12num=500
12num

SyntaxError: invalid decimal literal (500108171.py, line 1)

In [8]:
num%er=200
num%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2187449324.py, line 1)

In [9]:
_=100
_

100

In [10]:
n1=100,200
n1

(100, 200)

In [11]:
n2=200,300
n2

(200, 300)

In [13]:
n2,n3=200
n2

TypeError: cannot unpack non-iterable int object

In [14]:
n4,n5=100,200
n4
n5

200

In [15]:
n4,n5=300,400
print(n4)
print(n5)

300
400

number=100 #w

Number=200 #w

NUMBER=300 #w

number123=400#w

123number=500#f

num%er=600#f

number one=700 #f

number_one=800 #works

_=1000 #w

n1=100,200 #w

n1,n2=100 #f

n1,n2=100,200 #w

In [17]:
n1,_=100

- python is case sensitive

- variables can declare as captial letters

- variables can declare as small letters

- cannot start with nums(prefix)

- nums can be suffix of varbs

- no spcl characters except **_**

- no space is allowed

- only underscore is allowed as space

- keywords cannot use as variables

- 2 values can assign to 1 variable

- 1 value cannot assign to 2 variables