**Dictionary**

In [3]:
names=['ramesh','suresh','satish']
age=[20,40,25]
for i in names:
    print(i)

ramesh
suresh
satish

**zip**

In [4]:
names=['ramesh','suresh','satish']
age=[20,40,25]
for i , j in zip(names,age):
    print(i,j)

ramesh 20
suresh 40
satish 25

In [5]:
list(zip(names,age))

[('ramesh', 20), ('suresh', 40), ('satish', 25)]

In [6]:
dict(zip(names,age))

{'ramesh': 20, 'suresh': 40, 'satish': 25}

In [ ]:
dict1={<key>:<vale>}

In [7]:
dict1={'ramesh': 20, 'suresh': 40, 'satish': 25}
type(dict1)

dict

In [8]:
list(dict1)

['ramesh', 'suresh', 'satish']

In [11]:
list(dict1.values())

[20, 40, 25]

In [12]:
d1={'ramesh': 20, 'suresh': 40, 'satish': 25}
d1

{'ramesh': 20, 'suresh': 40, 'satish': 25}

In [14]:
d2={'ramesh': '20', 'suresh': '40', 'satish': '25'}
d2

{'ramesh': '20', 'suresh': '40', 'satish': '25'}

In [15]:
d3={20:'ramesh',25 :'suresh',30: 'satish'}
d3

{20: 'ramesh', 25: 'suresh', 30: 'satish'}

In [16]:
d4={20:30}
d4

{20: 30}

In [17]:
d5={'fruits':['apple','cherry']}
d5

{'fruits': ['apple', 'cherry']}

In [18]:
d6={['apple','cherry']:'fruits'}
d6

TypeError: unhashable type: 'list'

In [19]:
d7={('apple','cherry'):'fruits'}
d7

{('apple', 'cherry'): 'fruits'}

In [20]:
d8={'Ajay':25,'Ajay':30}
d8

{'Ajay': 30}

In [21]:
d9={25:'Ajay',30:'Ajay'}
d9

{25: 'Ajay', 30: 'Ajay'}

- keys have only latest value

- list cannot be a key because list is mutable

- tuple can be a key as tuple is immutable

- no duplicates

- keys should be only one

In [24]:
d10={'fruits':{'apple':'red'}}
d10

{'fruits': {'apple': 'red'}}

In [25]:
len(d1)

3

In [26]:
max(d1)

'suresh'

In [27]:
max(d2)

'suresh'

In [28]:
max(d3)

30

In [ ]:
#priority is given to keys (Ascii)
d1={'ramesh': 20, 'suresh': 40, 'satish': 25}
d2=={'ramesh': '20', 'suresh': '40', 'satish': '25'}
d3={'ramesh': 20, 'suresh': '40', 'satish': 25}
d4={20:'ramesh',25 :'suresh',30: 'satish'}
d5={20:'ramesh','25' :'suresh',30: 'satish'} #keys are diff type so it raises error
d6={'ramesh':20 ,'suresh':20, 'satish':20}
d7={20:'ramesh',20 :'suresh',20: 'satish'}

In [33]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
max(d1)

'zatish'

In [30]:
d2=={'ramesh': '20', 'suresh': '40', 'satish': '25'}
max(d2)

'suresh'

In [31]:
d3={'ramesh': 20, 'suresh': '40', 'satish': 25}
max(d3)

'suresh'

In [32]:
d7={20:'ramesh',20 :'suresh',20: 'satish'}
max(d7)

20

**reversed**

- keys will come in reverse order

In [34]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
list(reversed(d1))

['zatish', 'suresh', 'ramesh']

In [36]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
list(sorted(d1))

['ramesh', 'suresh', 'zatish']

In [37]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
list(sorted(d1,reverse=True))

['zatish', 'suresh', 'ramesh']

In [38]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
for i in d1:
    print(i)

ramesh
suresh
zatish

**indexing**

In [39]:
d1={'ramesh': 20, 'suresh': 40, 'zatish': 25}
d1[0]

KeyError: 0

In [40]:
d1['ramesh']

20

In [7]:
d1={'Manish':25,'Shubham':20,'Govindh':15}
d1['Manish']
#index in dictionary can be accessed throgh key

25

In [2]:
d1['Govindh']

15

In [5]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubham has age 20
Govindh has age 15

In [6]:
names=['Vignesh','Mohith','Nagesh']
age=[20,40,30]
for i , j in zip(names,age):
    print(f"{i} has age {j}")

Vignesh has age 20
Mohith has age 40
Nagesh has age 30

**Dictionary to list**

In [19]:
d1={'Manish':25,'Shubham':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    print(i,d1[i])
    keys.append(i)
    values.append(d1[i])    
print(keys) 
print(values)

Manish 25
Shubham 20
Govindh 15
['Manish', 'Shubham', 'Govindh']
[25, 20, 15]

In [ ]:
keys=[i for i in d1]
values=[d1 for i in d1]

**How to create a empty list**

In [20]:
l=[]
l.append(20)
l

[20]

**empty string**

In [21]:
s=''
s=s+'a'
s

'a'

In [23]:
a=''
a=a+'welcome'
a

'welcome'

**empty dictionary**

In [ ]:
d={}
d[<key>]=<value>

In [24]:
d={}
d['vignesh']=20
d['Mohith']=25
d['Nagesh']=30
d

{'vignesh': 20, 'Mohith': 25, 'Nagesh': 30}

In [25]:
names=['Vignesh','Mohith','Nagesh']
age=[20,40,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Vignesh': 20, 'Mohith': 40, 'Nagesh': 30}

**string to list**

In [27]:
s='hello hai how are you'
s.split()

['hello', 'hai', 'how', 'are', 'you']

In [29]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**word frequency**

In [32]:
#ip :s='hello hai hai how how are you'
#op : {'hello':1,'hai':2,'how':2,'are':1,'you':1}
#1:split the strinh
#2 :iterate using the list
#   each word will come apply the count
#   wordslist=[],countlist=[]
#3.make a dictionary

In [35]:
s='hello hai hai how how are you'
wordslist=s.split()
wordslist
dict1={}
for i in wordslist:
    dict1[i]=s.count(i)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [37]:
d={'fruits':[
    {'apple':
     {'kashmir':
      ['india']
     }
    }
     ]
  }
d

{'fruits': [{'apple': {'kashmir': ['india']}}]}

In [38]:
d['fruits'][0]['apple']

{'kashmir': ['india']}

**Dictonary methods**

In [1]:
dir(' ')#string methods
dir([]) #list methods
dir(())#tuple methods
dir({})#dictionary methods
dir(set)#set methods

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**items-keys-values**

In [3]:
d1={'Manish':25,'Shubham':20,'Govindh':15}
d1.items()

dict_items([('Manish', 25), ('Shubham', 20), ('Govindh', 15)])

In [4]:
d1.keys()

dict_keys(['Manish', 'Shubham', 'Govindh'])

In [5]:
d1.values()

dict_values([25, 20, 15])

In [7]:
#dictionary to list
d1={'Manish':25,'Shubham':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    print(i,d1[i])
    keys.append(i)
    values.append(d1[i])    
print(keys) 
print(values)

Manish 25
Shubham 20
Govindh 15
['Manish', 'Shubham', 'Govindh']
[25, 20, 15]

In [10]:
list(d1.keys())

['Manish', 'Shubham', 'Govindh']

In [11]:
list(d1.values())

[25, 20, 15]

In [13]:
for i in list[d1.keys()]:
    print(i)

*list[dict_keys(['Manish', 'Shubham', 'Govindh'])]

In [15]:
for i in d1.items():
    print(i)

('Manish', 25)
('Shubham', 20)
('Govindh', 15)

In [21]:
keys,values=[],[]
for i,j in d1.items():
    print(i,j)
    keys.append(i)
    values.append(j)
print(keys)
print(values)

Manish 25
Shubham 20
Govindh 15
['Manish', 'Shubham', 'Govindh']
[25, 20, 15]