- we can store the output values by using append operations

- we are taking empty list

- we are iterating through elements from a given list

- the result we are appendng in a new list

In [2]:
sqr_list=[]
for i in range(10):
    sqr_list.append(i*i)
sqr_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are there in the process

- the three lines we can make into a single line

- this is called as LIST COMPREHENSSION

$pattern-1$

**only for loop**

In [3]:
#syntax
#[<output> <for loop>]

In [5]:
sqr_list=[]
for i in range(10):
    sqr_list.append(i*i)
sqr_list    

#What is the output?
#what is the output list name?
#what is the for loop?
##[<output> <for loop>]
sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
l1=['hyd','mumbai','chennai','blr']
for i in l1:
    print(i.upper())

HYD
MUMBAI
CHENNAI
BLR

In [17]:
l1=['hyd','mumbai','chennai','blr']
upp_list=[i.upper() for i in l1]
upp_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [18]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
for i in l2:
    print(i.lower())

hyd
mumbai
chennai
blr

In [20]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower_list=[i.lower() for i in l2]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [24]:
#sum of the index of all elements
l1=['hyd','mumbai','chennai','blr']
for i in l1:
    print(l1.index(i))

0
1
2
3

In [25]:
idx_list=[l1.index(i) for i in l1]
sum(idx_list)

6

$pattern-2$

**for loop - if condition**

In [27]:
#syntax
#[<output> <for loop> <if condition>]

In [29]:
l1=['Hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [30]:
len_list=[i for i in l1 if len(i)>4]
len_list

['Mumbai', 'Chennai']

In [32]:
l1=['hyd','mum#bai','chenn#ai','blr']
for i in l1:
    if '#' in i:
        print(i)

mum#bai
chenn#ai

In [40]:
l1=['hyd','mum#bai','chenn#ai','blr']
op=[i for i in l1 if '#' in i]
op

['mum#bai', 'chenn#ai']

In [35]:
op_not=[i for i in l1 if '#' not in i]
op_not

['hyd', 'blr']

In [37]:
l1=['Hyd','Mumbai','Chennai','blr']
title=[i for i in l1 if i.istitle()]
title

['Hyd', 'Mumbai', 'Chennai']

In [43]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com'
list1=str1.split(',')
list1[0]

'virat.kohli@rcb.com'

In [45]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com'
list1=str1.split(',')
list1[0].index('.')

5

In [46]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com'
list1=str1.split(',')
list1[0][:5]

'virat'

In [48]:
for i in list1:
    print(i[:i.index('.')])

virat
 Rohit

$pattern-3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output> <if> <else> <else_output> <for>] : if-else

**even-odd**

In [7]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i %2==0:
        even_list.append(f"even:{i}")
    else:
       odd_list.append(f"odd:{i}")
even_list,odd_list

(['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18'],
 ['odd:1',
  'odd:3',
  'odd:5',
  'odd:7',
  'odd:9',
  'odd:11',
  'odd:13',
  'odd:15',
  'odd:17',
  'odd:19'])

In [9]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")   
op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']

In [10]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']