**Type casting**

- convert onedata type to another data type is called typecasting

- which means we wants to convert 

- integer data type to all other(float,str,bool) datatypes

- float data type to all other(int,str,bool) datatypes

- str data type to all other(int,float,bool) datatypes

- bool data type to all other(int,float,str) datatypes

**integer to other datatypes**

$int-float$

In [2]:
num=100
type(num)

int

In [4]:
floatnum=float(num)
type(floatnum)

float

In [6]:
a=str(num)
a

'100'

In [7]:
type(a)

str

In [8]:
b=bool(num)
b

True

In [9]:
float(200),str(200),bool(200)

(200.0, '200', True)

In [10]:
float(-200),str(-200),bool(-200)

(-200.0, '-200', True)

In [11]:
bool(0)

False

**note**

- boolean conversion false at only integer=0

- otherwise for any positive num or any negative num it becomes zero

$float --  another datatype$

In [14]:
print(int(200.5))
print(str(200.5))
print(bool(200.5))

200
200.5
True

$string -- another data type$

In [16]:
str1='apple'
str2='10'
str3='10.5'

In [18]:
int('apple')

ValueError: invalid literal for int() with base 10: 'apple'

In [19]:
float('apple')

ValueError: could not convert string to float: 'apple'

In [20]:
bool('apple')

True

In [21]:
int('10'),float('10'),bool('10')

(10, 10.0, True)

In [24]:
int('10.5'),float('10.5'),bool('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [25]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [26]:
float('10.5')

10.5

In [27]:
bool('10.5')

True

In [29]:
int('10.5')#fail
int('10')#pass

ValueError: invalid literal for int() with base 10: '10.5'

- float is boss

- float of any valuse either it is integer in strings format

- or faloat in strings format will works

- but integer will works only for integer in string format

- integer type casting will fail for float in strings format

In [30]:
bool('')

False

In [31]:
bool(0)

False

- empty string of boolean gives false

- false means nothing either 0 or empty string

$bool -- other  data types$

In [32]:
int(True),float(True),str(True)

(1, 1.0, 'True')

In [33]:
int(False),float(False),str(False)

(0, 0.0, 'False')

In [35]:
float(10),str(10),bool(10)#integer --- other

(10.0, '10', True, 11, '11.11', True)

In [36]:
int(11.11),str(11.11),bool(11.11)#float---other

(11, '11.11', True)

In [37]:
int(False),float(False),str(False)#bool---other

(0, 0.0, 'False')

In [40]:
int('abc')#string --- other

ValueError: invalid literal for int() with base 10: 'abc'

In [39]:
bool('abc')

True

In [41]:
float('abc')

ValueError: could not convert string to float: 'abc'